body {
  scrollbar-color: #999 #333;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #999;
}

body::-webkit-scrollbar-track {
  background: #333;
}